astroid==2.3.3
bcrypt==3.2.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==8.0.0
cryptography==3.4.7
Flask==2.0.0
gunicorn==20.1.0
idna==2.10
isort==4.3.21
itsdangerous==2.0.0
Jinja2==3.0.0
lazy-object-proxy==1.4.3
MarkupSafe==2.0.0
mccabe==0.6.1
pycparser==2.20
pylint==2.4.4
python-dotenv==0.17.1
requests==2.25.1
six==1.13.0
twofish==0.3.0
typed-ast==1.4.0
urllib3==1.26.4
Werkzeug==2.0.0
wrapt==1.11.2
